<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.system.data.dao.ResourceInfoDao">
    <resultMap id="BaseResultMap" type="com.share.system.data.entity.ResourceInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="resource_code" jdbcType="VARCHAR" property="resourceCode"/>
        <result column="resource_name" jdbcType="VARCHAR" property="resourceName"/>
        <result column="is_appointment" jdbcType="INTEGER" property="isAppointment"/>
        <result column="appointment_time" jdbcType="TIMESTAMP" property="appointmentTime"/>
        <result column="is_lease" jdbcType="INTEGER" property="isLease"/>
        <result column="lease_time" jdbcType="TIMESTAMP" property="leaseTime"/>
        <result column="back_time" jdbcType="TIMESTAMP" property="backTime"/>
        <result column="is_over_time" jdbcType="INTEGER" property="isOverTime"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
    </resultMap>

    <insert id="insertResourceInfo" parameterType="com.share.system.data.entity.ResourceInfo">
         insert into ss_resource_info
        (
        resource_code,
        resource_name,
        is_appointment,
        is_lease,
        is_over_time
        )values
            (
            #{resourceInfo.resourceCode},
            #{resourceInfo.resourceName},
            #{resourceInfo.isAppointment},
            #{resourceInfo.isLease},
            #{resourceInfo.isOverTime}
            )
    </insert>

    <delete id="deleteResourceInfo" parameterType="integer">
        delete from ss_resource_info
        where id=#{id}
    </delete>

    <select id="selectByResourceInfo" parameterType="com.share.system.data.entity.ResourceInfo"
            resultMap="BaseResultMap">
        select *
        from ss_resource_info
        where 1=1
        <if test="resourceInfo.id != null">
            and id = #{resourceInfo.id}
        </if>
        <if test="resourceInfo.resourceCode != null">
            and resource_code = #{resourceInfo.resourceCode}
        </if>
        <if test="resourceInfo.resourceName != null">
            and resource_name = #{resourceInfo.resourceName}
        </if>
        <if test="resourceInfo.isAppointment != null">
            and is_appointment = #{resourceInfo.isAppointment}
        </if>
        <if test="resourceInfo.appointmentTime != null">
            and appointment_time = #{resourceInfo.appointmentTime}
        </if>
        <if test="resourceInfo.isLease != null">
            and is_lease = #{resourceInfo.isLease}
        </if>
        <if test="resourceInfo.leaseTime != null">
            and lease_time = #{resourceInfo.leaseTime}
        </if>
        <if test="resourceInfo.backTime != null">
            and back_time = #{resourceInfo.backTime}
        </if>
        <if test="resourceInfo.isOverTime != null">
            and is_over_time = #{resourceInfo.isOverTime}
        </if>
        <if test="resourceInfo.userId != null">
            and user_id = #{resourceInfo.userId}
        </if>
        order by id
    </select>

    <update id="updateResourceInfo" parameterType="com.share.system.data.entity.ResourceInfo">
        UPDATE ss_resource_info
        <set>
            <if test="resourceInfo.resourceCode != null">
                resource_code = #{resourceInfo.resourceCode},
            </if>
            <if test="resourceInfo.resourceName != null">
                resource_name = #{resourceInfo.resourceName},
            </if>
            <if test="resourceInfo.isAppointment != null">
                is_appointment = #{resourceInfo.isAppointment},
            </if>
            <if test="resourceInfo.appointmentTime != null">
                appointment_time = #{resourceInfo.appointmentTime},
            </if>
            <if test="resourceInfo.isLease != null">
                is_lease = #{resourceInfo.isLease},
            </if>
            <if test="resourceInfo.leaseTime != null">
                lease_time = #{resourceInfo.leaseTime},
            </if>
            <if test="resourceInfo.backTime != null">
                back_time = #{resourceInfo.backTime},
            </if>
            <if test="resourceInfo.isOverTime != null">
                is_over_time = #{resourceInfo.isOverTime},
            </if>
            <if test="resourceInfo.userId != null">
                user_id = #{resourceInfo.userId},
            </if>
        </set>
        WHERE id=#{resourceInfo.id}

    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from ss_resource_info
        order by id
    </select>

    <select id="selectByid" resultMap="BaseResultMap">
        select * from ss_resource_info
        where id=#{id}
    </select>


</mapper>